.wrapper {
  margin: 50px auto 0;
  width: 1000px;
}

.progress-list {
  display: flex;
}

.button {
  min-width: 56px;
}

.todo-status th,
.todo-status td {
  padding-right: 16px;
  text-align: left;
}

.todo-item__title {
  min-width: 200px;
  max-width: 600px;
  word-wrap: break-word;
}

.add-button {
  margin-left: 8px;
}
